/*  화면 중앙에 위치함
    글자체 : "Black Han Sans"
    글자크기 : 70px */
#first {  
    text-align: center;
    font-size: 70px;
    font-family: "Black Han Sans", sans-serif;
}
 
/* 할일 글자색 : rgba(57, 206, 180, 1)
회의 글자색 : rgba(255, 99, 71, 1)
아이디어 글자색 : rgba(79, 118, 219, 1)
쇼핑목록 글자색 : rgba(149, 165, 166, 1) */
#todo + label {
    color: rgba(57, 206, 180, 1);
}
#meeting + label {
    color: rgba(255, 99, 71, 1);
}
#idea + label {
    color: rgba(79, 118, 219, 1);
}
#shopping + label {
    color: rgba(149, 165, 166, 1);
}

/* 3의 위쪽 마진 크기 : 20px

3-1 영역 : 달력
테이블 안의 글자체 : sans-serif
테이블 넓이 : 영역 전체 크기
테이블 최소 높이 : 400px
테두리 :
    굵기 : 1px, 모양 : solid, 색상 : #dddddd
제목 셀, 데이터 셀 :
    글자 위치 : 왼쪽
    테두리와 Content 간의 간격 : 8px
    데이터 행의 3행과 5행의 배경색 : #eeeeee */

#calendar {
    margin-top: 20px;
    display: none;
}

table {
    font-family: sans-serif;
    width: 100%;
    min-height: 400px;
}

th, td {
    border: 1px solid #dddddd;
    border-collapse: collapse;
    text-align: left;
    padding: 8px;
}

tr:nth-child(3), tr:nth-child(5) {
    background-color: #eeeeee;
}

/* 3의 위쪽 마진 크기 : 20px

3-2 영역 : 빈페이지
배경 색 : rgba(78, 118, 204, 0.2)
글자색 : white
글자와 Content 간격 : 10px */

#emptyPage {
    margin-top: 20px;
    background-color: rgba(78, 118, 204, 0.2);
    color: white;
    padding: 10px;
    display: none;
}

/* 모달 창 넓이 : 320px, 창 높이 : 380px
테두리와 Content 간의 간격 : 30px
테두리 :
    굵기 : 2px, 모양 : ridge
    모서리를 둥글게 만드는 크기 : 5px
배경색 : LightSkyBlue
모달 창 위치(브라우저 화면 기준) :
    위 : 80px, 왼쪽 : 90px 간격을 둠 */

#dailyWrite {
    width: 320px;
    height: 380px;
    padding: 30px;
    border: 2px ridge;
    border-radius: 5px;
    background-color: LightSkyBlue;
    top: 80px;
    left: 90px;
    display: none;
}

#dailyModify {
    width: 320px;
    height: 380px;
    padding: 30px;
    border: 2px ridge;
    border-radius: 5px;
    background-color: RosyBrown;
    top: 80px;
    left: 90px;
    display: none;
}

#content, #modifyContent {
    height: 100px;
}

#icon {
    text-align: right;
}

#resaveButton, #recancelButton {
    display: none;
}
